html {
	font-size: 62.5%; /* 16px */
}

body {
	/* Posicionamento */

	/* Display e Box Model */
	margin: 0;

	/* Cores */

	/* Texto */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.4rem;

	/* Outros */
}